<screenshot>true</screenshot>
<selfie>true</selfie>
<FaceRec>true</FaceRec>
<LockOnRec>true</LockOnRec>
<GreetOnRec>true</GreetOnRec>
<LogKeyStrokes>true</LogKeyStrokes>

<Interval>10 secs</Interval>

<SaveLocation>C:\Project-WatchDog\</SaveLocation>

<Compress>true</Compress>
<CompressInterval>10 min</CompressInterval>
<CompressOnlyWhenIdle></CompressOnlyWhenIdle>

<AutoBackup>false</AutoBackup>
<AutoBackupInterval>7 days</AutoBackupInterval>
<AutoBackupLocation>E:\Project-WatchDog-Backups\</AutoBackupLocation>